<%@annotation_versions.each do |version|%>
<tr class="text-center">
    <td><%=version.id%></td>
    <td><%=version_status(version.id)%></td>
    <td><%=formatted_date_superceded(version.id)%></td>
    <td><%=link_to "Rollback",root_path,class:"btn btn-primary"%></td>
    <td><%=link_to "Editor",root_path%></td>
    <%if user_signed_in?%>
    <td class="annotation-vote-cell"><%=link_to "<i class=\"glyphicon glyphicon-thumbs-up\"></i>".html_safe,annotation_quality_votes_path(vote:1,annotation_id:version.id),method: :post,remote:true%> <span id="version_quality<%=version.id%>"><b><%=version.quality||0%></b></span> <%=link_to "<i class=\"glyphicon glyphicon-thumbs-down\"></i>".html_safe,annotation_quality_votes_path(vote:0,annotation_id:version.id),method: :post,remote:true%></td>
    <%else%>
    <td class="annotation-vote-cell"><%=link_to "<i class=\"glyphicon glyphicon-thumbs-up\"></i>".html_safe,annotation_quality_votes_path(vote:1,annotation_id:version.id),method: :post%> <span id="version_quality<%=version.id%>"><b><%=version.quality||0%></b></span> <%=link_to "<i class=\"glyphicon glyphicon-thumbs-down\"></i>".html_safe,annotation_quality_votes_path(vote:0,annotation_id:version.id),method: :post%></td>
    <%end%>
</tr>
<%end%>