

    
	

	
	<thead>
	<tr><th colspan=4 class="text-center"><h3><b>Deepest Analysis</b></h2></th></tr>

	<tr>
		<th class="text-center">Rank</th>
		<th class="text-center">Engine</th>
		<th class="text-center">Nodes</th>
		<th class="text-center">Evaluation</th>
	</tr>
	</thead>
	<tbody>
	<%evaluations.each(function(item,indicator){%>
		<tr class="text-center">
			<td><%=indicator+1%></td>
			<td><%=item.get("engine")%></td>
			<td><%=item.get("nodes")%></td>
			<%if(chessAnalysis.chess[index].turn()==='w'){%>
			<td><%=item.get("evaluation")%></td>
			<%}%>
			<%if(chessAnalysis.chess[index].turn()==='b'){%>
			<td><%=item.get("evaluation")*-1%></td>
			<%}%>
		</tr>
		<%})%>
	
	</tbody>

