<table class="table table-default mgametable  text-center">
	<tr>
		<th>Avatar</th>
		<th>Profile Name</th>

		<th>Followers</th>
		<th>Following</th>
		<th>Follow?</th>
	</tr>
	<%collection.each do |user|%>

	<tr>
		<td><%if user[:avatar]&&user[:avatar]!=""%>
				<%=image_tag(user.avatar.profile_pic,class:"blank-profile-pic")%>
				<%else%>
				<%=image_tag "blank-profile.jpg",width:"50%"%>
				<%end%></td>
		<td><%=link_to user.profile_name,user_path(user.id)%></td>

		<td id="count<%=user.id%>"><%=user.followers.count%></td>
		<td><%=user.followed_users.count%></td>

		<td id="follow<%=user.id%>"><%if current_user.followed_users.include?(user)%>
		<%=link_to "Unfollow",change_relationship_path(follower:current_user.id,followed:user.id,popup:"true",same:same_user?(params[:id],current_user.id.to_s)),method: :post,remote:true,class:"btn btn-primary"%>
	
		<%elsif current_user!=user%>
		<%=link_to "Follow",change_relationship_path(follower:current_user.id,followed:user.id,popup:"true",same:same_user?(params[:id],current_user.id.to_s)),method: :post,remote:true,class:"btn btn-primary",remote:true%>
	
		<%else%>
		<em>NA</em>
		<%end%>
		</td>
	</tr>
	<%end%>
</table>
<%=will_paginate collection%>