
<table class="table table-hover col-lg-12 col-md-12" id="evaluations_table">
<thead>
	<tr>
		<th colspan=6 class="text-center">
		<h3><b>Deepest Analysis</b></h3>
		</th>
	</tr>

	<tr>
		<th class="text-center">Rank</th>
		<th class="text-center">Engine</th>
		<th class="text-center">Depth</th>
		<th class="text-center">SelDepth</th>
		<th class="text-center">Nodes</th>
		<th class="text-center">Evaluation</th>
		<th class="text-center">Legit?</th>
	</tr>
</thead>
	<tbody id="evaluation_table_body">
	{{#with controller}}
	{{#each visible in visibleList }}
			<tr class="text-center">
				<td>{{visible.index}}</td>
				<td>{{visible.engine}}</td>
				<td>{{visible.depth}}</td>
				<td>{{visible.seldepth}}</td>	
				<td>{{visible.nodes}}</td>
				<td>{{evaluation_display visible.evaluation}}</td>
				<td>
				{{#if isAuthenticated}}<i class="glyphicon glyphicon-thumbs-up" {{action "upvote_evaluation" visible.id}}></i> {{/if}}
				{{visible.legit}} 
				{{#if isAuthenticated}}<i class="glyphicon glyphicon-thumbs-down" {{action "downvote_evaluation" visible.id}}></i>{{/if}}

				</td>
				</tr>
	{{/each}}
	{{/with}}


	</tbody>
	
</table>
<div class="text-center"><ul class='pagination'>

    {{#each pagination}}
    	{{#if this.[1]}}
      		<li class="evaluation_pagination active" {{action "changePage" this.[0]}}><a>{{this.[0]}}</a></li> 
      		{{else}}
      		<li class="evaluation_pagination" {{action "changePage" this.[0]}}><a>{{this.[0]}}</a></li>
      	{{/if}}
    {{/each}}

 </ul>

 </div>
 <br>