

<div class="navbar navbar-default navbar-fixed-top">
   <div class="container">
    <div class="navbar-header">
      {{#link-to "home" class="navbar-brand"}}<b>ChessPrime</b>{{/link-to}}
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </a>
    </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">  
            <li><a {{action "viewFen"}}>{{#view EngineEval.NavbarClickView}}Analysis{{/view}}</a></li>
            <li>{{#link-to "uploads"}}Uploads{{/link-to}}</li>
            {{#if isAuthenticated}}
              <li>{{#link-to "profile" currentUser.id 1}}{{#view EngineEval.NavbarClickView}}My Profile{{/view}}{{/link-to}}</li>
            {{/if}}
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documentation <b class="caret"></b></a>
            <ul class="dropdown-menu">
                  <li> {{#link-to "features"}}Features{{/link-to}} </li> 
                  <li>{{#link-to "api"}}API Docs{{/link-to}}</a></li>
                  <li>{{#link-to "support"}}Support{{/link-to}}</li>
             </ul>
             </li>
        </ul>
        <ul class="nav pull-right navbar-nav">

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="dropdown-menu">
              {{#if isAuthenticated}}
                  <li> {{#link-to "edit"}}{{#view EngineEval.NavbarClickView}}{{currentUser.profile_name}} <span class="label label-primary">{{currentUser.reputation}}</span>{{/view}}{{/link-to}} </li> 
                  <li><a {{action "logout"}}>Logout</a></li>
                  {{else}}
                  <li>{{#link-to "login"}}{{#view EngineEval.NavbarClickView}}Log in{{/view}}{{/link-to}}</a></li>
                  <li>{{#link-to "register"}}{{#view EngineEval.NavbarClickView}}Register{{/view}}{{/link-to}}</li>
                {{/if}}
             </ul>
          </li>
        </ul>
      </div>
    </div>
</div>