<!--<script src='//localhost:8080/socket.io/socket.io.js'></script> -->    
<%=javascript_tag do %>
$(document)
    .ready(function () {

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    
        if(chessAnalysis.mode!==$(this).parent().attr("id")){
            $(e.relatedTarget).tab('show')
            
        }
    })
        window.addEventListener("beforeunload", 
  
  function (e) {
  if(chessAnalysis.editStatus[index]){
    return  "You have made changes since the last save."
  }
  else{

  return  null

}
})
        $("#update-annotation-button-container").click(function(){
        if(chessAnalysis.editStatus[index]===true)
         {var continue_update=confirm("Are you sure you would like to save your changes to this annotation?")
         if(continue_update){
            jQuery.ajax({
                            url: "/annotations",
                            type: "POST",
                            data: {
                                moves: JSON.stringify(chessAnalysis.moves[index]),
                                comments: JSON.stringify(chessAnalysis.movescomment[index]),
                                mainvariations: JSON.stringify(chessAnalysis.mainvariations[index]),
                                numvariations: chessAnalysis.numvariations[index],
                                parents: JSON.stringify(chessAnalysis.parents[index]),
                                children: JSON.stringify(chessAnalysis.children[index]),
                                dropcount: chessAnalysis.dropcount[index],
                                fen: chessAnalysis.chess[0].fen()
                            }
                        })
                        chessAnalysis.editStatus[index]=false;
                    }
                }
                        else{
                        alert("Please edit the annotation before updating.")
                    }
        })
        keynavigate("show");
        $("#boardedge")
            .height($("#boardedge")
                .width())
        setup(chessAnalysis.chess[index].fen());
        $("#browser_engine_button")
            .click(function () {
                if (chessAnalysis.engineStatus === true) {
                    chessAnalysis.engineStatus = false
                    chessAnalysis.engines[0].terminate()
                    $("#browser_engine_button")
                        .removeClass("btn-danger")
                    $("#browser_engine_button")
                        .addClass("btn-success")
                    $("#browser_engine_button")
                        .text("Start stockfish")
                }
                else {
                    chessAnalysis.engineStatus = true
                    chessAnalysis.engines[0] = new Worker('stockfish.js');
                    chessAnalysis.engines[0].postMessage("uci")
                    chessAnalysis.engines[0].postMessage("position fen " + chessAnalysis.chess[index].fen())
                    jQuery.ajax({
                        type: "POST",
                        url: "/api/evaluations",
                        data: {
                            fen: chessAnalysis.chess[index].fen()
                        },
                        async: false,
                        success: function (data) {
                            chessAnalysis.evaluationId = data.id
                        },
                        error: function (data) {
                            alert("There was an error uploading analysis.  Please refresh the page and try again.")
                        }
                    })
                    $("#browser_engine_button")
                        .removeClass("btn-success")
                    $("#browser_engine_button")
                        .addClass("btn-danger")
                    $("#browser_engine_button")
                        .text("Stop Stockfish")
                    chessAnalysis.engines[0].postMessage("go infinite")
                    chessAnalysis.engines[0].onmessage = function (event) {
                        if (event.data.split(" ")[3] == "seldepth") {
                            if (event.data.split(" ")[9].match(/[0-9]+/)) {
                                var nodes = event.data.split(" ")[9]
                                var depth = event.data.split(" ")[2]
                                var seldepth = event.data.split(" ")[4]
                                var evaluation = event.data.split(" ")[7] / 100
                                $("#browser_engine_nodes")
                                    .text(nodes);
                                $("#browser_engine_depth")
                                    .text(depth);
                                $("#browser_engine_seldepth")
                                    .text(seldepth);
                                jQuery.ajax({
                                    type: "PUT",
                                    url: "/api/evaluations/" + chessAnalysis.evaluationId,
                                    data: {
                                        nodes: nodes,
                                        seldepth: seldepth,
                                        depth: depth,
                                        evaluation: evaluation,
                                        engine: "stockfish_browser"
                                    },
                                    error: function (data) {
                                        alert("There was an error uploading analysis.  Please refresh the page and try again.")
                                    }
                                })
                                if (chessAnalysis.chess[index].turn() === 'b') {
                                    $("#browser_engine_evaluation")
                                        .text(evaluation * -1);
                                }
                                else {
                                    $("#browser_engine_evaluation")
                                        .text(evaluation);
                                }
                            }
                            else {
                                var nodes = event.data.split(" ")[10]
                                var depth = event.data.split(" ")[2]
                                var seldepth = event.data.split(" ")[4]
                                var evaluation = event.data.split(" ")[7] / 100
                                $("#browser_engine_nodes")
                                    .text(nodes);
                                $("#browser_engine_depth")
                                    .text(depth);
                                $("#browser_engine_seldepth")
                                    .text(seldepth);
                                jQuery.ajax({
                                    type: "PUT",
                                    url: "/api/evaluations/" + chessAnalysis.evaluationId,
                                    data: {
                                        nodes: nodes,
                                        seldepth: seldepth,
                                        depth: depth,
                                        evaluation: evaluation,
                                        engine: "stockfish_browser"
                                    },
                                    error: function (data) {
                                        alert("There was an error uploading analysis.  Please refresh the page and try again.")
                                    }
                                })
                                if (chessAnalysis.chess[index].turn() === 'b') {
                                    $("#browser_engine_evaluation")
                                        .text(evaluation * -1);
                                }
                                else {
                                    $("#browser_engine_evaluation")
                                        .text(evaluation);
                                }
                            }
                        };
                    }
                }
            })
        addpieces();
        movegen();
        drag();
        drop();
        $("#fen-container")
            .val(chessAnalysis.chess[index].fen())
        EngineEval.initialize();
        connectionId = Math.floor(Math.random() * 1000000000)
        $("#connectionId")
            .append(connectionId)
        //chat = io.connect("http://localhost:8080")
        //chat.emit('subscribe',{room:connectionId})
        //chat.on("receive_evaluation",function(data){
        //$("#my_engine_evaluation").html(data.evaluation)
        //})
        $(".change-mode")
            .click(function () {
                if (chessAnalysis.mode !== $(this)
                    .attr("id")) {
                    if(chessAnalysis.editStatus[index]){
                        var confirmChange=confirm("Your have made changes to the annotation.  Are you sure you want to discard those changes?")
                        if(confirmChange){
                            if (chessAnalysis.mode === "your_analysis_mode") {
                               
                                $("#annotation-version-row").hide()
                                $(".engine-row").show()

                            }
                            chessAnalysis.mode = $(this)
                                .attr("id")
                            if (chessAnalysis.mode === "your_analysis_mode") {
                                jQuery.ajax({
                                    url: "/get_annotation_data",
                                    type: "GET",
                                    data: {
                                        fen: chessAnalysis.chess[index].fen(),version:1
                                    },
                                    error:function(data){
                                    alert("error")
                                    },
                                    success: function (data) {
                                       
                                    }
                                })
                                $(".engine-row").hide();
                                $("#annotation-version-row").show()
                            }
                            else if (chessAnalysis.mode === "engine_analysis_mode") {
                                index = 0
                                setup(chessAnalysis.chess[index].fen());
                                addpieces();
                                movegen();
                                drag();
                                drop();
                            }
                        }
                    }
                    else{
                        if (chessAnalysis.mode === "your_analysis_mode") {
                               
                                $("#annotation-version-row").hide()
                                $(".engine-row").show()

                            }
                            chessAnalysis.mode = $(this)
                                .attr("id")
                            if (chessAnalysis.mode === "your_analysis_mode") {
                                jQuery.ajax({
                                    url: "/get_annotation_data",
                                    type: "GET",
                                    data: {
                                        fen: chessAnalysis.chess[index].fen(),version:1
                                    },
                                    error:function(data){
                                    alert("error")
                                    },
                                    success: function (data) {
                                       
                                    }
                                })
                                $(".engine-row").hide();
                                $("#annotation-version-row").show()
                            }
                            else if (chessAnalysis.mode === "engine_analysis_mode") {
                                //$("#your_analysis").empty()
                                index = 0
                                setup(chessAnalysis.chess[index].fen());
                                addpieces();
                                movegen();
                                drag();
                                drop();
                            }
                        }
                    
                    }
                
            })
        $("#rmenu-cancel")
            .click(function () {
                $("#rmenu")
                    .css("display", "none");
                $("#delete-remaining")
                    .unbind("click");
                $("#delete-variation")
                    .unbind("click");
                $("#replay-variation")
                    .unbind("click");
                $("#make-critical")
                    .unbind("click");
            });
    })

<%end%>

<div class="row">
  <h1 class="text-center col-lg-12 col-md-12"><b>Chess Analysis</b></h1></div>
  <br>
<div class="row">
	  <div class="boardenv   col-md-5  col-lg-5   ">
        <div id="boardedge" class="  col-md-12  col-lg-12">
          <div class="leftnotcolumn">
          <div class="leftnot">
            8
          </div>
          <div class="leftnot">
            7
          </div>
          <div class="leftnot">
            6
          </div>
          <div class="leftnot">
            5
          </div>
          <div class="leftnot">
            4
          </div>
          <div class="leftnot">
            3
          </div>
          <div class="leftnot">
            2
          </div>
          <div class="leftnot">
            1
          </div>
        </div>
             <div id="board">
    <%list=["a","b","c","d","e","f","g","h"]%>
    <%numlist=[8,7,6,5,4,3,2,1]%>
    <% 8.times do |x|%>
    

      <%8.times do |y|%>
      <%if (y%2==0)&&(x%2==0)%>
        <div class="square whitesquare" id="<%="#{list[y]}"+"#{numlist[x]}"+"s"%>"></div>
      <%elsif (x%2!=0)&&(y%2!=0)%>
        <div class="square whitesquare" id="<%="#{list[y]}"+"#{numlist[x]}"+"s"%>"></div>
      <%else%>
        <div class="square blacksquare" id="<%="#{list[y]}"+"#{numlist[x]}"+"s"%>"></div>
      <%end%>
      <%end%>
   
    <%end%>
  </div>
   <div class="rightnotrow">
    <div class="rightnot">
            a
          </div>
            <div class="rightnot">
            b
          </div>
            <div class="rightnot">
            c
          </div>
            <div class="rightnot">
            d
          </div>
            <div class="rightnot">
            e
          </div>
            <div class="rightnot">
            f
          </div>
            <div class="rightnot">
            g
          </div>
            <div class="rightnot">
            h
          </div>
          <br>

          </div>


	</div>




  </div>
<ul class="nav nav-tabs col-md-7 col-lg-7">
  <li class="active change-mode" id="engine_analysis_mode"><a href="#evaluations_table" data-toggle="tab">Engine Analysis</a></li>
  <li class="change-mode" id="your_analysis_mode"><a href="#your_analysis" data-toggle="tab">Your Analysis</a></li>

</ul>

<div class="tab-content col-md-7 col-lg-7">
  <div class="tab-pane active" id="evaluations_table">

  </div>
  <div class="tab-pane" id="your_analysis">
    <div id="annotation_moves">
    </div>
    <br>

    <div  id="update-annotation-button-container"><span class="btn btn-primary"><%="<i class=\"glyphicon glyphicon-cloud-upload\"></i> Update".html_safe%></span></div>
  </div>
</div>

</div>
<br>
<div class="row">
  <div class="col-md-5  col-lg-5  form-horizontal ">

    <!--<div class="form-group">
      <label class="control-label col-md-4 col-lg-4">Connection Id: </label>
      <div class="col-md-6 col-lg-6"><div id="connectionId" class="form-control"></div></div>
      <div class="col-md-2 col-lg-2"></div>
    </div>-->

    <div class="form-group">
      <label class="control-label col-md-2 col-lg-2">Fen:</label>
      <div class="col-md-8 col-lg-8"><input class="form-control" id="fen-container"></input></div>
      <div class="col-md-2 col-lg-2"></div>
    </div>
    </div>
    <div class="col-md-7 col-lg-7"></div>
  </div>

  <div class="row engine-row">
    <div class="well col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
      
       
      <table class="table engine-row">
        <thead>
          <tr ><th colspan=5 class="text-center"><h3 ><b>My Engines</b></h3></th></tr>
          <tr >
            <th class="text-center">Engine</th>
            <th class="text-center">Nodes</th>
            <th class="text-center">Depth</th>
            <th class="text-center">Seldepth</th>
            <th class="text-center">Evaluation</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center">
            <td id="browser_engine">Browser Stockfish</td>
             <td id="browser_engine_nodes"></td>
              <td id="browser_engine_depth"></td>
               <td id="browser_engine_seldepth"></td>
                <td id="browser_engine_evaluation"></td>
          </tr>
          <tr class="text-center">
            <td id="my_engine"></td>
             <td id="my_engine_nodes"></td>
              <td id="my_engine_depth"></td>
               <td id="my_engine_seldepth"></td>
                <td id="my_engine_evaluation"></td>
          </tr>
         
        </tbody>
      </table>
      <div class="text-center"><div class="btn btn-success" id="browser_engine_button">Start Stockfish</div></div>
    </div>
  </div>


   <div class="row" id="annotation-version-row">
    <div class="well col-md-8 col-lg-8 col-md-offset-2 col-lg-offset-2">
      
       
      <table class="table">
        <thead>
          <tr ><th colspan=6 class="text-center"><h3 ><b>Versions</b></h3></th></tr>
          <tr >
            <th class="text-center">Id</th>
            <th class="text-center">Status</th>
            <th class="text-center">Date Superceded</th>
            <th class="text-center">Rollback</th>
            <th class="text-center">Editor</th>
            <th class="text-center">Vote</th>
          </tr>
        </thead>
        <tbody>
         
        </tbody>
      </table>
    </div>
  </div>
  <br>







<div class="modal fade" id="promotionModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><strong>Choose a Piece:</strong></h4>
      </div>
      <div class="modal-body">
           
          <div id="whitepopup">
          <p>Please Select a Piece:</p>
          <br>     
              <img src="/assets/whitequeen.png" id="q"  >  
            <img src="/assets/whitebishop.png" id="b" >  
            <img src="/assets/whiteknight.png" id="n" >           
            <img src="/assets/whiterook.png" id="r"  >
        
        </div>


        <div id="blackpopup">
          <p>Please Select a Piece:</p>
         
          <div id="bqueenpop">
            <img src="/assets/blackqueen.png" id="q">
          </div>
          <div id="bbishoppop">
            <img src="/assets/blackbishop.png" id="b">
          </div>
          <div id="bknightpop">
            <img src="/assets/blackknight.png"  id="n">
          </div>
          <div id="brookpop">
            <img src="/assets/blackrook.png" id="r" >
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>


  <div id="next-move-select" class="text-center well">
    <p>Please Select a Move:</p>
    <div id="scroll-container">
    
      </div>
      <br>
      <div id="scroll-move-select" class="btn btn-primary">Select</div>
      <div id="scroll-cancel" class="btn btn-primary">Cancel</div>
  </div>


<div id="rmenu" class="well">
  <p id="delete-remaining" class="rselect">Delete rest of variation</p>
  <p id="delete-variation" class="rselect">Delete Variation</p>
  <p id="add-comment-before" class="rselect">Add Comment Before Move</p>
  <p id="add-comment-after" class="rselect">Add Comment After Move</p>

  <div class="text-center"><div id="rmenu-cancel" class="btn btn-primary">Cancel</div></div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><strong>Edit</strong></h4>
      </div>
      <div class="modal-body">
           

      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>